body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #6fa4e1;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-family: serif;
  position: relative; /* 将 header 设置为相对定位 */
  min-height: 40px; /* 为 header 设置一个最小高度，确保搜索框可见 */
}

.logo {
  max-width: 5%;
  max-height: 5%;
  padding: 10px;
}

nav {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 5px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #007bff;
  color: #fff;
}

.main-container {
  display: flex;
}

main {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#search {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; /* 调整一下与边缘的距离 */
}

input {
    border-radius: 8px; 
    padding: 10px; 
    border: 1px solid #ccc; 
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}


footer a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
}

footer a:hover {
    text-decoration: underline; 
}


@media screen and (min-height: 600px) {
  /* 根据需要调整最小高度 */
  body {
    padding-bottom: calc(
      60px + 60px
    ); /* 设置页面底部填充，确保 footer 不会遮挡页面内容，这里假设 footer 的高度为 60px，额外加上 20px 的空间 */
  }
}


@media screen and (max-width: 768px) {
    /* 当屏幕宽度小于等于 600px 时应用的样式 */
  
    /* 将导航栏放到左边 */
    nav {
      flex-direction: column; /* 修改导航栏的排列方向为垂直方向 */
    }
  
    nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column; /* 修改导航链接的排列方向为垂直方向 */
    }
  
    nav li {
      margin: 5px 0; /* 调整导航链接之间的垂直间距 */
    }
  
  }


  @media screen and (max-width: 512px) {

    header {
        display: block;
        position: relative; /* 将 header 设置为相对定位 */
        min-height: 80px; /* 为 header 设置一个最小高度，确保搜索框可见 */
        height: 120px;
      }

    #search {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px; /* 调整一下与边缘的距离 */
      }
      
      #search input {
        float: left;
        padding: 10px;
      }
  }
